/* || header styling */
.header {
  display: grid;
  position: fixed;
  top: 0;
  left: 50%;
  grid-template-columns: 1fr 1fr;
  transform: translateX(-50%);
  z-index: 10;
  backdrop-filter: blur(10px);
  mask-image: linear-gradient(
    to bottom,
    hsl(198, 96%, 10%) 70%,
    transparent 100%
  );
  background-color: hsla(198, 96%, 10%, 0.85);
  padding: 1rem 3rem;
  width: 100%;
  max-width: 1280px;
  height: 81px;
}

.nav-links a {
  font-weight: bold;
}

.home-icon:hover {
  filter: none;
}

.icon-img {
  width: 32px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-bar-div {
  display: none;
}

.mobile-nav {
  display: none;
}
/* || main styling */

.main {
  color: var(--text-color);
  font-family: var(--body-text);
}

.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
}

.introduction {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 1em;
  padding: var(--general-padding);
}

.image-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.person {
  position: absolute;
  bottom: 0;
  height: 85vh;
}

.main-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--body-color);
  padding: var(--general-padding);
  color: var(--text-color);
}

.social-links {
  display: flex;
  gap: 1.5rem;
}

.social-links svg {
  fill: var(--text-color);
}

/* footer styling */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--body-color);
  padding: var(--general-padding);
  color: var(--text-color);
}

.footer p {
  font-size: smaller;
}

@media (max-width: 640px) {
  .introduction {
    grid-column: span 2;
  }

  .image-container {
    grid-column-start: 2;
  }

  .short-intro {
    width: 50%;
  }
  .person {
    height: 75vh;
  }
  .menu-bar-div {
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .header .nav-links {
    display: none;
  }
  .menu-bar {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    padding: 0;
    width: 32px;
    height: 32px;
  }

  .menu-bar-icon,
  .menu-bar-icon::before,
  .menu-bar-icon::after {
    position: absolute;
    left: 50%;
    border-radius: 3px;
    background-color: var(--text-color);
    width: 20px;
    height: 3px;
  }

  .menu-bar-icon {
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
  }

  .menu-bar-icon::before,
  .menu-bar-icon::after {
    transform: translateX(-50%);
    transition: all 0.5s ease;
    content: "";
  }

  .menu-bar-icon::before {
    top: -6px;
  }

  .menu-bar-icon::after {
    top: 6px;
  }

  .mobile-nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 2;
    backdrop-filter: blur(10px);
    mask-image: linear-gradient(
      to bottom,
      hsl(198, 96%, 10%) 80%,
      transparent 100%
    );
    transition: max-height 0s ease;
    background-color: hsla(198, 96%, 10%, 0.85);
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }

  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: var(--general-padding);
    overflow: hidden;
    font-weight: bolder;
    font-size: large;
    text-align: center;
  }

  .mobile-nav.open {
    min-height: 50vh;
    max-height: 100vh;
  }

  .menu-bar.open .menu-bar-icon {
    transform: translate(-50%, -50%) rotate(-180deg);
    background-color: transparent;
  }

  .menu-bar.open .menu-bar-icon::before {
    top: 0;
    transform: translateX(-50%) rotate(45deg);
  }

  .menu-bar.open .menu-bar-icon::after {
    top: 0;
    transform: translateX(-50%) rotate(-45deg);
  }

  .links a {
    color: var(--text-color);
  }
}
