/* || general styling*/
:root {
  --body-color: hsl(198, 96%, 10%);
  --text-color: #fffff7;
  --general-padding: 1.5rem 3em;
  --body-text: "Outfit";
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--body-color);
  font-family:
    -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

a {
  transition: all 0.3s ease;
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  transform: scale(120%);
  filter: brightness(150%);
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}
